

body {
    font-family: "Poppins", serif;
    line-height: 1.5;
    margin: 0;
}


a,
li{
    text-decoration: none;
    display: inline;
    text-align: center;
    padding-right: 20px;
    color: #FFFFFF;
}

/* Fixed position */
.fixed {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    gap: 300px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    border: none;

}

    h1{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        font-style: italic;
        color: #C96868;
    
    }
    
p{
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: medium;
    text-align: center;
}
.p1{
    color: white;
    background-color:  #C96868;
    align-items: center;
    display: flex;
    justify-content: center;
}
.newsletter-form{
    
    display: flex;
    flex-direction: column;
    padding-top: 10px;

}
.timing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C96868;

}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border:none;
    background-color: #C96868;
    color:white;
    padding: 20px;
}
.image{
    background-color: #C96868;
    border:none;
}
 footer  {
        text-align: center;
        padding: 2px ;
        background-color: #C96868;
        color: #FFFFFF;
        margin-top: 3px;
        font-size: 0.9rem;
        width: 100%;
        border:none;
}

footer input[type=email] {
 padding: 10px;
 font-size: 16px;
 width: 200px;
 border: none;
 border-radius: 5px;

}
footer button {
    width: fit-content;
    padding: 10px;
    font-size: 16px;
    background-color: #663232;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  button:hover {
    background-color: #7d1c1c;
  }
  