body{
   background-image: url('../assets/contact.jpg');
   background-size: cover;
   font-family: "Poppins", serif;

}

h1{
    color: white;
    padding: 10px;
    text-align: center;
    width: fit-content;
     font-weight: 300px;
     font-style: oblique;
     font-size: xx-large;
     
}
p{
    align-items: center;
    font-style: italic;
    
   
}

label{
    color:white;
    text-align: center;
    font-weight: 200;
    font-style: inherit;
    font-size: x-large;

}
input[type="text"],
input[type="password"] ,
textarea

 {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    
}
button {
   background-color: #ed0f0f;
   color: white;
   border: 2px solid #ddd;
   padding: 10px 20px;
   border-radius: 10px;
   font-size: 16px;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: center;
    width: 50%;
    
}
input {
    width: 100%;
  }
.inputs{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: start;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Fixed position */
.fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    gap: 300px;
    padding: 20px; 
    background-color: #000;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border: none;

}
.header{
    position: relative;
    height: 15%;
    width: 100%;
}
a,
li{
    text-decoration: none;
    display: inline;
    text-align: center;
    padding-right: 20px;
    color:white;
}
body {
    font-family: "Poppins", serif;
    line-height: 1.5;
    margin: 0;
}