
body {
    font-family: "Poppins", serif;
    line-height: 1.5;
    margin: 0;
    
}



a,
li{
    text-decoration: none;
    display: inline;
    text-align: center;
    padding-right: 20px;
    color:blanchedalmond;
    background-color: #000;
}
a:viseted{
    color:red
}
footer p {
    text-align: center;
    padding: 2px ;
    background-color: #C96868;
    color: #FFFFFF;
    margin-top: 3px;
    font-size: 0.9rem;
}
.header{
    position: relative;
    height: 15%;
    width: 100%;
}
/* Fixed position */
.fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    gap: 300px;
    padding: 20px; 
    background-color: #000;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border: none;
    height: 100%;
    width: 100%;

}

.grid-container{
   padding: 100px;
   display: grid;
   border: none;
   gap: 20px;
   grid-template: 1fr/1fr 1fr;
   
   
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size:fit-content;
    border: 1px solid rgba(219,210,219,1);
   
    box-shadow: 10px 9px 5px -7px rgba(219,210,219,1);
}